
.heroContainer{
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.heroContainer .heroContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding: 15px 20px;
    gap: 20px;
    width: calc(50vw + 200px);
}

.heroContainer .heroContent h2{
    justify-self: center;
    margin: 0px;
    width: fit-content;
    font-size: 2rem;
}

.heroContainer .heroContent p{
    color: gray;
    font-size: 1.2rem;
    justify-self: center;
    text-align: center;
}

.heroContainer .heroPerson{
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}

.heroContainer .heroPerson img {
    border-radius: 50%;
}

.heroContainer .heroPerson p{
    color: gray;
}