 .CardContainer{
    justify-content: center;
    width: 100vw;
 }


.CardContainer .LargeCard {
    display: flex;
    flex-direction: column;
}


.CardContainer .LargeCard .CardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    justify-content: center;
}

.CardContainer .LargeCard .CardContent h2{

    margin-top: 20px;
}


.CardContainer .LargeCard .CardContent p{

    margin-top: 5px;
    padding: 20px;
}

.bgWhite {
    background-color: white;
}

.bgGreen{
    background-color: #9aa3878c;
}


@media (min-width: 720px) {
    .CardContainer .LargeCard{
        flex-direction: row;
    }

    .CardContainer .LargeCard .CardContent {
        width: 100%;
    }

    .CardContainer .LargeCard.row-reverse {
        flex-direction: row-reverse;
    }
}
