.smallCardContainer {
    background-color: #9aa38773;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.smallCardContainer .smallCard {
    margin: 40px 10px 5px 10px; 
    padding: 10px;
    background-color: #9aa387ad;
    border-radius: 15%;
    height: 340px;
    width: 260px;
}

.smallCard .smallCardHeader{
    display: flex;
    margin-top: 20px;
    padding: 0.5rem;
    gap: 10px;
    align-items: center;
}

.smallCardHeader img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.smallCardHeader h3{
    color: white;
}

.smallCardHeader div p{
    color: #666666;
}

.smallCard .smallCardContent p{
    margin-top:15px ;
    color: white;
}

